@import "setup";

// /* HAMBURGER MENU STYLING */
@import "hamburger";

// CUSTOM STYLING 

html {
  font-size: 125%;
}

body,
nav {
  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4,
input[type="submit"] {
  font-family: "IM Fell English", serif;
  text-transform: uppercase;
  font-style: italic;
}

h1 {
  padding-top: 5vh;
  font-size: 4.5rem;
  width: 60%;
  text-shadow: 4px 4px rgba(0, 0, 0, 0.4);
  color: #eafefc;
}

h2 {
  color: #0d457f;
  font-weight: 100;
  font-size: 2rem;
  padding: 15px 0;
}

h3 {
  color: #0d457f;
  font-weight: 100;
  letter-spacing: 1.3px;
  font-size: 1.8rem;
  margin-bottom: 30px;
}

h4 {
  color: #fdd908;
  font-weight: 100;
  letter-spacing: 1.3px;
  font-size: 1.2rem;
}

a {
  text-decoration: none;
}

.wrapper {
  max-width: 1300px;
  margin: 0 auto;
  width: 100%;
}

/* HEADER STYLING */

header {
  background: url("../assets/blog-header.jpg") no-repeat;
  background-size: cover;
  height: 75vh;
}


nav a {
  color: #ffffff;
  font-weight: bold;
  letter-spacing: 2px;
  padding-bottom: 2px;
  position: relative;
}

nav a:hover,
nav a:focus {
  border-bottom: 2px solid #fdd908;
}

.header-navbar {
  width: 100%;
}

.header-navbar ul {
  display: flex;
  list-style: none;
}

.header-navbar ul li {
  padding: 80px 30px 0 30px;
}

.header-navbar ul li:first-child {
  padding-left: 0;
}

/* MAIN STYLING */

.blog-section {
  background-color: #eafefc;
  height: 100%;
}

.blog-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.blog-left {
  width: 30%;
  padding-top: 150px;
}

.blog-mission {
  position: relative;
  top: -20px;
}

.blog-left-container {
  width: 100%;
  background-color: #0d457f;
  padding: 40px;
  font-size: 0.9rem;
}

.blog-left-container p {
  color: white;
  line-height: 1.3;
  letter-spacing: 2px;
  padding: 10px 0 60px 0;
}

.blog-left-container ul {
  color: white;
  line-height: 2;
  letter-spacing: 1.5px;
  left: 20px;
  position: relative;
  padding-top: 10px;
}

.blog-left-image {
  width: 150%;
  position: relative;
}

.blog-left img {
  display: block;
  right: 145px;
  bottom: 65px;
  width: 100%;
  position: relative;
}

.blog-right {
  width: 60%;
  height: 100%;
  display: flex;
  flex-direction: column;
  position: relative;
}
.blog-top-image {
  position: relative;
  width: 100%;
  height: 20%;
}

.blog-top-image img {
  display: block;
  width: 120%;
  box-shadow: -25px 25px #fdd908;
  bottom: 185px;
  left: 25px;
  position: relative;
}

.next-destination {
  border-bottom: 5px solid #fdd908;
  border-left: 5px solid #fdd908;
  width: 120%;
  height: 35%;
  top: -160px;
  position: relative;
  padding: 50px 0px 50px 100px;
}

.comments-section {
  position: relative;
  width: 120%;
  padding-left: 100px;
  top: -100px;
  height: 35%;
}
article {
  line-height: 1.3;
  letter-spacing: 2px;
  padding: 10px 0 0 0;
}

article p {
  padding: 20px 0;
}

.posted-comments {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 400px;
}

.user-comment {
  display: flex;
  width: 100%;
  height: 45%;
  justify-content: space-between;
  line-height: 1.4;
  letter-spacing: 1px;
}
.comment {
  width: 80%;
  height: 45%;
}

.user-img {
  width: 13%;
}

form {
  display: flex;
  flex-direction: column;
  background-color: #eafefc;
  width: 100%;
  height: 100%;
}

span {
  display: flex;
  color: #0d457f;
  font-weight: bold;
  margin-bottom: 10px;
}

label {
  display: none;
}

.user-input {
  width: 45%;
}

form div {
  display: flex;
  justify-content: space-between;
}

input,
textarea {
  background: #eafefc;
  color: #000;
  padding: 20px;
  margin: 20px 0;
  border: none;
}

input {
  border-bottom: 2px solid #fdd908;
  width: 100%;
}

textarea {
  border: 2px solid #fdd908;
}

input[type="submit"] {
  text-align: center;
  background: #0d457f;
  color: #fdd908;
  border: none;
  padding: 10px;
  letter-spacing: 2px;
  font-size: 1rem;
}

input[type="submit"]:hover,
input[type="submit"]:focus {
  background-color: #fdd908;
  outline: 3px solid #0d457f;
  color: #0d457f;
  transition-duration: 0.1s;
  cursor: pointer;
}

.form-error-summary-msg {
  color: red;
  font-style: italic;
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

.hidden {
  display: none;
}

.invalid-form-field {
  color: red;
  border: 2px dotted red;
}



/* FOOTER STYLING */

footer {
  background: #fdd908;
  color: #0d457f;
  font-weight: 100;
  padding: 8px 0;
  text-align: center;
  font-size: 1.2rem;
  letter-spacing: 1px;
}

/* MEDIA QUERIES */

@media (max-width: 1620px) {
  .comments-section,
  .next-destination,
  .blog-top-image {
    width: 100%;
  }
  .blog-top-image img {
    width: 100%;
  }

  .blog-left img {
    right: 85px;
  }

  .blog-right {
    text-align: justify;
  }

  .blog-left-image {
    width: 130%;
  }
}

@media (max-width: 1440px) {
  h1 {
    padding-top: 10vh;
  }
}

@media (max-width: 1320px) {
  h1,
  .header-navbar ul {
    padding-left: 50px;
  }
  .comments-section,
  .next-destination {
    padding-left: 10%;
  }
  .blog-right {
    padding-left: 50px;
  }
  .blog-left-image {
    width: 110%;
  }
  .blog-container {
    justify-content: center;
  }
  .blog-left img {
    right: 75px;
    width: 115%;
  }
}

@media (max-width: 1200px) {
  article,
  p,
  li,
  .blog-left-container p {
    letter-spacing: 0.25px;
    font-size: 0.8rem;
  }

  .blog-left-container p,
  .blog-left-container ul {
    text-align: left;
  }
  .blog-left-container ul {
    line-height: 1.4;
  }

  .blog-left img {
    right: 60px;
    width: 120%;
  }

  .blog-right {
  }
  .posted-comments {
    height: 100%;
  }
  .comment-form {
    height: 30%;
  }

  .comments-section {
    text-align: justify;
  }

  .user-img img {
    width: 120%;
  }

  .user-comment {
    margin-bottom: 20px;
  }
}

/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
  nav {
    display: flex;
    justify-content: center;
  }

  .header-navbar ul li:first-child {
    padding-left: 20px;
  }

  h1 {
    text-align: center;
  }

  .header-navbar ul {
    padding-left: 0;
  }

  .header-navbar li {
    font-size: 1.1rem;
  }

  h4 {
    font-size: 2rem;
  }

  .blog-left {
    width: 100%;
    padding-top: 0;
  }

  .blog-right {
    padding: 0;
    margin: 0;
    width: 100%;
    top: 50px;
  }

  .blog-container {
    flex-direction: column;
    width: 85%;
  }

  .blog-left-container {
    position: relative;
    top: -180px;
  }

  .blog-left img {
    width: 85%;
    right: -20px;
    top: 10px;
    margin-bottom: 80px;
  }

  .blog-left-container p,
  li {
    letter-spacing: 1.2px;
    line-height: 1.5;
  }
  .comments-section,
  .next-destination,
  .blog-top-image {
    width: 100%;
  }

  .comments-section {
    padding-left: 0;
  }
  .blog-mission {
    width: 80%;
    margin: 0 auto;
  }
}

/* Landscape phones and down */
@media (max-width: 480px) {
  nav {
    display: none;
  }

  .menu-wrap {
    visibility: visible;
  }

  h1 {
    padding: 0;
    margin: 0;
    padding-top: 25vh;
    text-align: center;
    width: 100%;
  }
  h3 {
    text-align: center;
  }

  h4 {
    font-size: 1.5rem;
    text-align: center;
  }

  span {
    font-size: 0.9rem;
    letter-spacing: 0.7px;
  }

  form div {
    flex-direction: column;
    width: 100%;
  }
  .user-input {
    width: 100%;
  }

  .blog-left-container {
    padding: 20px;
  }

  .blog-left-image img {
    width: 105%;
  }

  .blog-left-image {
    width: 85%;
  }

  p {
    text-align: justify;
  }

  .comment-form {
    position: relative;

    top: 0;
  }

  input {
    width: 100%;
  }

  .user-comment {
    margin-bottom: 35px;
  }
  .posted-comments {
    height: 100%;
  }

  form {
    font-size: 0.8rem;
    position: relative;
  }

  footer {
    font-size: 0.8rem;
    letter-spacing: 1px;
  }
}

@media (max-width: 380px) {
  h4 {
    width: 100%;
    font-size: 1.3rem;
  }

  form {
    font-size: 0.7rem;
  }

  .blog-right {
    top: 30px;
  }

  .blog-mission {
    width: 90%;
  }
  h2 {
    font-size: 1.7rem;
  }

  span {
    letter-spacing: 0.2px;
    font-size: 0.8rem;
  }

  .blog-left-misson,
  .blog-left-container p {
    text-align: justify;
  }

  .blog-left img {
    right: -15px;
  }
}

/* Smaller older phones (iPhone5) */
@media (max-width: 325px) {
  .blog-mission {
    width: 95%;
  }
  .blog-left-container p,
  li {
    letter-spacing: 0.5px;
    line-height: 1.3;
  }
  h2 {
    font-size: 1.5rem;
  }

  .blog-right {
    width: 95%;
  }

  .user-comment {
    margin-bottom: 85px;
  }

  form {
    margin-top: 160px;
    margin-bottom: 10px;
    font-size: 0.6rem;
    top: 60px;
  }

  input,
  textarea {
    padding-left: 8px;
  }
}
