@import "setup";

// /* HAMBURGER MENU STYLING */
@import "hamburger";

// CUSTOM STYLING 

html {
  font-size: 125%;
}

body,
nav {
  font-family: "Roboto", sans-serif;
}

input[type="submit"] {
  font-family: "IM Fell English", serif;
  text-transform: uppercase;
  font-style: italic;
}


h1 {
  padding-top: 35vh;
  text-shadow: 3px 3px rgba(0, 0, 0, 0.6);
//   font-style: italic;
  color: #eafefc;
  font-weight: 200;
  font-size: 3rem;
  padding-bottom: 30px;
}

h2 {
  text-shadow: 3px 3px rgba(0, 0, 0, 0.6);
//   font-style: italic;
  color: #eafefc;
  font-weight: 200;
  font-size: 1.5rem;
  padding-bottom: 25px;
}


a {
  text-decoration: none;
}

.wrapper {
  max-width: 1300px;
  margin: 0 auto;
  width: 100%;
}

/* HEADER STYLING */

header {
  background: url("../assets/blog-header.jpg") no-repeat;
  background-size: cover;
  height: 100vh;
}


nav a {
  color: #ffffff;
  font-weight: bold;
  letter-spacing: 2px;
  padding-bottom: 2px;
  position: relative;
}

nav a:hover,
nav a:focus {
  border-bottom: 2px solid #fdd908;
}

.header-navbar {
  width: 100%;
}

.header-navbar ul {
  display: flex;
  list-style: none;
}

.header-navbar ul li {
  padding: 80px 30px 0 30px;
}

.header-navbar ul li:first-child {
  padding-left: 0;
}

.return-home-button {
    margin-top: 25px;
}

.btn-home {
  padding: 10px 20px;
  background: #fdd908;
  font-size: 1.2rem;
  margin: 30px 0;
}

.btn-home:hover,
.btn-home:focus {
  background: #eafefc;
  outline: 5px solid #fdd908;
  transition-duration: 0.1s;
  cursor: pointer;
}

/* FOOTER STYLING */

footer {
  background: #fdd908;
  color: #0d457f;
  font-weight: 100;
  padding: 8px 0;
  text-align: center;
  font-size: 1.2rem;
  letter-spacing: 1px;
}

// MEDIA QUERIES

@media (max-width:1485px) {
    .head-container {
        margin: 0 50px;
    }
}

@media (max-width: 560px) {
  nav {
    display: none;
  }

  .menu-wrap {
    visibility: visible;
  }
}